<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AWSSDK.Core" version="3.3.103.20" targetFramework="net472" />
  <package id="AWSSDK.S3" version="3.3.104.8" targetFramework="net472" />
  <package id="comsec.sugar" version="2.0.48" targetFramework="net472" />
  <package id="comsec.sugar.command" version="2.0.48" targetFramework="net472" />
  <package id="System.Management" version="4.5.0" targetFramework="net472" />
</packages>